@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-regular.woff') format('woff'),
    url('../fonts/myriadpro-regular.ttf') format('truetype'),
    url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-user-select: none;
    cursor: default;
}

input, textarea {
    cursor: text;
}

body {
    background: #eaedf1;
    font: 14px SegoeWPRegular;
}

.clear {
    clear: both;
}

.card {
    background: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 20px;
    color: #adadad;
}

.blue-btn, .green-btn {
    color: #fff;
    border-radius: 1px;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
}

.blue-btn {
    background: #55d4eb;
}

.blue-btn:hover {
    background: #1faeff;
}

.green-btn {
    background: #129281;
}

.green-btn:hover {
    background: #1fbba6;
}

.x-caret {
    background: #000;
    width:1px;
}